In [1]:
# To access python data science libraries and visualise data and render plots in the Jupyter Notebook
import os
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import math
%matplotlib inline

In [2]:
#save the list of all csv files
csv1 = pd.read_csv('data1_cleaned.csv')
csv2 = pd.read_csv('data2_cleaned.csv')
csv3 = pd.read_csv('data3_cleaned.csv')
csv4 = pd.read_csv('data4_cleaned.csv')

In [3]:
#merged all files in the list based on matching columns
csv1_2 = pd.merge(csv1, csv2, on=['customer_id'])
csv1_2_3 = pd.merge(csv1_2, csv3, on=['customer_id'])

In [4]:
#export to csv
csv1_2_3.to_csv( "merged.csv", index=False, encoding='utf-8-sig')

In [8]:
df = csv1_2_3.sort_values(by=['customer_id'])

In [9]:
df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
88,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-05-11,1.0,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,37823.0
85,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-03-27,0.0,Approved,Norco Bicycles,Mountain,low,small,688.63,612.88,33455.0
86,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-03-29,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,35378.0
87,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-04-06,1.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,39526.0
89,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-05-19,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,33552.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4636,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Officer,Entertainment,Affluent Customer,False,...,2017-03-14,1.0,Approved,OHM Cycles,Standard,high,medium,1458.17,874.90,38750.0
4635,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Officer,Entertainment,Affluent Customer,False,...,2017-02-16,0.0,Approved,WeareA2B,Standard,medium,medium,1228.07,400.91,36668.0
4634,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Officer,Entertainment,Affluent Customer,False,...,2017-01-11,0.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
4633,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Officer,Entertainment,Affluent Customer,False,...,2017-01-09,1.0,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,33879.0
4637,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Officer,Entertainment,Affluent Customer,False,...,2017-04-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0