In [1]:
# To access python data science libraries and visualise data and render plots in the Jupyter Notebook
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read in the excel datasets and put into a panda dataframe
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final_formatted.xlsx')
pd3 = pd.read_excel(xls, sheet_name=3, header=1)

In [3]:
df3 = pd.DataFrame(pd3)

In [4]:
# check out datatypes, columns name, counts
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [5]:
# check the first 5 records
df3.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [6]:
# check for null values
df3.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [7]:
#sort the columns by customer id and transaction date
df3.sort_values(['customer_id', 'transaction_date'])

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
9784,9785,72,1,2017-01-05,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.300000,37873.0
13423,13424,2,1,2017-02-21,0.0,Approved,Solex,Standard,medium,medium,71.49,53.620000,38573.0
14485,14486,23,1,2017-03-27,0.0,Approved,Norco Bicycles,Mountain,low,small,688.63,612.880000,33455.0
18969,18970,11,1,2017-03-29,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.960000,35378.0
3764,3765,38,1,2017-04-06,1.0,Approved,Solex,Standard,medium,medium,1577.53,826.510000,39526.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462,2463,2,3500,2017-04-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.620000,41245.0
8561,8562,33,3500,2017-08-08,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.180000,33888.0
17468,17469,0,5034,2017-01-03,0.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.400024,33879.0
16700,16701,0,5034,2017-01-27,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.299988,35667.0
8707,8708,0,5034,2017-10-07,0.0,Approved,Solex,Road,medium,medium,416.98,312.735016,42218.0

In [8]:
# count the number of online order or otherwise
df3['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [9]:
# fill the missing data using the back-fill method
df3['online_order'] = df3['online_order'].fillna(method='bfill')

In [10]:
# count the number of different brands
df3['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [11]:
# fill the missing data using the forward-fill method
df3['brand'] = df3['brand'].fillna(method='ffill')

In [12]:
# count the number of different product lines
df3['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [13]:
# fill the missing data using the back-fill method
df3['product_line'] = df3['product_line'].fillna(method='bfill')

In [14]:
# count the number of dfferent product classes
df3['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [15]:
# fill the missing data using the back-fill method
df3['product_class'] = df3['product_class'].fillna(method='bfill')

In [16]:
# count sizes of which the products belong to
df3['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [17]:
# fill the missing data using the forward-fill method
df3['product_size'] = df3['product_size'].fillna(method='ffill')

In [18]:
# work out the average cost for each customer
customerStandardCost = df3.groupby(['customer_id']).mean()
customerStandardCost

,transaction_id,product_id,online_order,list_price,standard_cost,product_first_sold_date
customer_id,,,,,,
1,11485.636364,34.181818,0.545455,825.859091,551.487273,37314.090909
2,8471.666667,37.333333,0.333333,1383.023333,640.936667,38775.666667
3,13842.625000,60.375000,0.250000,1236.028750,815.677500,39350.250000
4,13544.500000,78.500000,0.500000,523.860000,413.575000,36008.500000
5,7969.666667,48.166667,0.333333,983.866667,584.710000,37361.000000
...,...,...,...,...,...,...
3497,8565.000000,32.333333,0.666667,1248.023333,698.583333,38680.333333
3498,9327.500000,72.166667,0.833333,862.843333,338.288333,37723.666667
3499,6871.285714,42.714286,0.571429,1096.211429,388.318571,38163.857143
3500,10076.000000,40.000000,0.333333,820.401667,522.758333,36432.500000
5034,14292.666667,0.000000,0.000000,506.640000,416.811676,37254.666667

In [19]:
# fill the missing data with the average costs for that customer
df3['standard_cost'] = df3['standard_cost'].fillna(customerStandardCost.standard_cost)

In [20]:
# fill the missing data with the average first sold date
df3['product_first_sold_date'] = df3['product_first_sold_date'].fillna(df3['product_first_sold_date'].mean())

In [21]:
#check the dataset after cleaning
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    20000 non-null  object
 7   product_line             20000 non-null  object
 8   product_class            20000 non-null  object
 9   product_size             20000 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19824 non-null  float64
 12  product_first_sold_date  20000 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [22]:
#print to csv file after the cleaning
df3.to_csv('./data3_cleaned.csv',index=False)