In [1]:
# To access python data science libraries and visualise data and render plots in the Jupyter Notebook
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read in the excel datasets and put into a panda dataframe
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final_formatted.xlsx')
pd1 = pd.read_excel(xls, sheet_name=1, header=1)

In [3]:
df1 = pd.DataFrame(pd1)

In [4]:
# check out datatypes, columns name, counts
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [5]:
# check the first 5 records
df1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,720,Darrel,Canet,Male,67,1931-10-23,Recruiting Manager,Retail,Affluent Customer,N,1;DROP TABLE users,No,6.0
1,1092,Katlin,Creddon,Female,56,1935-08-22,VP Quality Control,Retail,Mass Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,No,5.0
2,3410,Merrili,Brittin,Female,93,1940-09-22,NaN,Property,Mass Customer,N,á,No,16.0
3,2413,Abbey,Murrow,Male,27,1943-08-11,Environmental Specialist,Manufacturing,High Net Worth,N,á,Yes,17.0
4,658,Donn,Bonnell,Male,38,1944-01-24,Tax Accountant,Manufacturing,Affluent Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,Yes,8.0

In [6]:
# check for null values
df1.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [7]:
# drop the column if too many datapoint is missing to be usable
drop_threshold = df1.shape[0]*0.5
df1 = df1.dropna(thresh=drop_threshold, how='all', axis='columns').copy()

In [8]:
# sanity check for duplicate data
column_names = df1.columns

for i in column_names:
  print((i, df1[i].is_unique))

('customer_id', True)
('first_name', False)
('last_name', False)
('gender', False)
('past_3_years_bike_related_purchases', False)
('DOB', False)
('job_title', False)
('job_industry_category', False)
('wealth_segment', False)
('deceased_indicator', False)
('default', False)
('owns_car', False)
('tenure', False)

In [9]:
# drop the column with corrupted data
del df1['default']

In [10]:
# make sure the ID only contain legitimate digits
df1['customer_id'] = df1['customer_id'].astype('int64')

In [11]:
# make sure that gender is a category
df1['gender'] = df1['gender'].astype('category')

In [12]:
# check the entered data
df1['gender'].value_counts()

Female    2037
Male      1872
U           88
M            1
Femal        1
F            1
Name: gender, dtype: int64

In [13]:
# replace all the misspelt or differently formatted data
df1['gender'].replace({'M' : 'Male', 'F' : 'Female', 'Femal' : 'Female'}, inplace=True)

In [14]:
# check the frequency of different job titles
df1['job_title'].value_counts()

Business Systems Development Analyst    45
Social Worker                           44
Tax Accountant                          44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Administrative Assistant II              4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [15]:
# fill the missing datapoint using the backward filling method
df1['job_title']= df1['job_title'].fillna(method='bfill')

In [16]:
# check the frequency of job industries
df1['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [17]:
# fill the missing datapoint using the forward filling method
df1['job_industry_category']= df1['job_industry_category'].fillna(method='ffill')

In [18]:
# make sure all dates are in the correct format
df1['DOB'] = df1['DOB'].dt.date

In [19]:
# convert to boolean data type
f = {'N': False, 'Y': True}
df1['deceased_indicator'] = df1['deceased_indicator'].map(f).fillna(df1['deceased_indicator'])

In [20]:
# convert to boolean data type
g = {'No': False, 'Yes': True}
df1['owns_car'] = df1['owns_car'].map(g).fillna(df1['owns_car'])

In [21]:
# calculate the median value for tenure
np.nanmedian(df1['tenure'])

11.0

In [22]:
# filling in the missing value for tenure
df1['tenure'].fillna(value = 11.0, inplace = True)

In [23]:
# make sure that the column names are in the correct format
df1.columns = map(str.lower, df1.columns)
df1.columns = map(str.strip, df1.columns)

In [24]:
#check the dataset after cleaning
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   dob                                  3913 non-null   object
 6   job_title                            4000 non-null   object
 7   job_industry_category                4000 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   bool
 10  owns_car                             4000 non-null   bool
 11  tenure                               4000 non-null   float64
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 320.4+ KB

In [25]:
df1

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,720,Darrel,Canet,Male,67,1931-10-23,Recruiting Manager,Retail,Affluent Customer,False,False,6.0
1,1092,Katlin,Creddon,Female,56,1935-08-22,VP Quality Control,Retail,Mass Customer,False,False,5.0
2,3410,Merrili,Brittin,Female,93,1940-09-22,Environmental Specialist,Property,Mass Customer,False,False,16.0
3,2413,Abbey,Murrow,Male,27,1943-08-11,Environmental Specialist,Manufacturing,High Net Worth,False,True,17.0
4,658,Donn,Bonnell,Male,38,1944-01-24,Tax Accountant,Manufacturing,Affluent Customer,False,True,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3779,Ulick,Daspar,U,68,NaT,Legal Assistant,IT,Affluent Customer,False,False,11.0
3996,3883,Nissa,Conrad,U,35,NaT,Legal Assistant,IT,Mass Customer,False,False,11.0
3997,3931,Kylie,Epine,U,19,NaT,Assistant Manager,IT,High Net Worth,False,True,11.0
3998,3935,Teodor,Alfonsini,U,72,NaT,Assistant Manager,IT,High Net Worth,False,True,11.0
3999,3998,Sarene,Woolley,U,60,NaT,Assistant Manager,IT,High Net Worth,False,False,11.0

In [26]:
#print to csv file after the cleaning
df1.to_csv('./data1_cleaned.csv',index=False)